* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    header {
        background-color: #add8e6;
    }

    #jumbotron {
        background-color: #00008b;
    }

    #community {
        background-color: #d3d3d3;
    }

    #technology {
        background-color: #d3d3d3;
    }

    #references {
        background-color: #23272a;
    }

    #logo-footer {
        background-color: #23272a;
    }
}

.m-A {
    margin: auto;
}

.h-500 {
    height: 500px;
}

.w-80 {
    width: 80%;
}

.w-15 {
    width: 15%;
}

.w-60 {
    width: 60%;
}

.w-40 {
    width: 40%;
}

.description {
    background-color: #1e90ff;
    min-height: 400px;
}

.image {
    background-color: #ffc0cb;
    min-height: 400px;
}

.bor-dot {
    border: 2px dotted red;
}

.flex {
    display: flex;
}

header {
    min-height: 80px;
}

#technology {
    min-height: 800px;
}

#logo-footer {
    min-height: 80px;
    border-top: 2px solid grey;
}

#logo-container {
    background-color: #daa520;
    justify-content: space-between;
    align-items: center;
    margin: 1rem auto 1rem auto;

    ul {
        list-style: none;
        display: flex;
        gap: 1rem;
        width: 50%;
        justify-content: center;


        a {
            text-decoration: none;
            color: black;


        }

    }

    #logo {
        width: 25%;

    }

    #login {
        width: 25%;
        text-align: end;

    }
}

#jumbo-container {
    width: 50%;
    min-height: 400px;
    background-color: #ee82ee;
}

#techno-container {
    height: 700px;
    background-color: #228b22;
}

#ref-container {
    margin: 1rem auto auto auto;

    #ref-image {
        background-color: #f08080;
        min-height: 400px;
    }

    .ref-links {
        background-color: #20b2aa;
        min-height: 400px;
    }
}

#foot-container {
    height: 4rem;
    background-color: #7fffd4;
    margin: auto auto 0 auto;
    justify-content: space-between;
    align-items: center;

    #foot-logo {
        background-color: #ffb6c1;
        height: 2rem;
    }

    #foot-btn {
        background-color: #ffb6c1;
        height: 2rem;
    }
}