* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    header {
        background-color: #add8e6;
    }

    #jumbotron {
        background-color: #00008b;
    }
}

.w-80 {
    width: 80%;
}

.m-A {
    margin: auto;
}

.h-500 {
    height: 500px;
}

.bor-dot {
    border: 2px dotted black;
}

header {
    display: flex;
    min-height: 80px;

}

#jumbotron {
    display: flex;
}

#logo-container {
    background-color: #daa520;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;


    ul {
        list-style: none;
        display: flex;
        gap: 1rem;
        width: 50%;
        justify-content: center;


        a {
            text-decoration: none;
            color: black;


        }

    }

    #logo {
        width: 25%;

    }

    #login {
        width: 25%;
        text-align: end;

    }
}

#jumbo-container {
    width: 50%;
    min-height: 400px;
    background-color: #ee82ee;


}